{include file="public/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-header">{$page_title}</div>
            <div class="layui-card-body">
                {:access_button('Answer/add',[],'添加趣味问题')}
                <form class="layui-search layui-form" action="" method="get">
                    <div class="layui-col-md3">
                        <label>搜索标题</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="name">
                        </div>
                    </div>
                    <div class="layui-col-md3 layui-search-submit">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-normal" type="button" onclick="search(this)">搜索</button>
                        </div>
                    </div>
                    <div class="layui-col-md1" style="float: right;">
                        <button type="button" class="layui-btn layui-btn-norma" id="uploadExample">
                            <i class="layui-icon">&#xe67c;</i>导入数据
                        </button>
                    </div>
                    <div class="layui-col-md1" style="float: right;">
                        {:access_button('Answer/downfile',[],'导出模板')}
                    </div>
                    <div class="layui-clear"></div>
                </form>
                <table class="layui-table layui-form">
                    <thead>
                    <tr>    
                        <th>ID</th>
                        <th>类型</th>
                        <th>标题</th>
                        <th>选项(A)</th>
                        <th>选项(B)</th>
                        <th>选项(C)</th>
                        <th>选项(D)</th>
                        <th>选项(E)</th>
                        <th>选项(F)</th>
                        <th>正确答案</th>
                        <th>奖励积分</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {if condition="empty($list)"}
                    <tr>
                        <td colspan="12" align="center">暂无数据！</td>
                    </tr>
                    {/if}
                    <tbody>
                    {foreach $list as $item}
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.class_name}</td>
                        <td>{$item.title}</td>
                        <td>{$item.one}</td>
                        <td>{$item.two}</td>
                        <td>{$item.three}</td>
                        <td>{$item.five}</td>
                        <td>{$item.six}</td>
                        <td>{$item.seven}</td>
                        <td>{$item.really}</td>
                        <td>+{$item.integral}</td>
                        <td>
                            {:access_button('Answer/edit',['id'=>$item.id],'编辑')}
                            {:access_button('Answer/delete',['id'=>$item.id],'删除','confirm')}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页按钮输出开始-->
                <div class="page">
                {$page}
                </div>
                <!--分页按钮输出结束-->
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    layui.use(['index', 'upload'], function(){
        var $ = layui.$
            ,upload = layui.upload;
        
        var uploadInst  = layui.upload.render({
            elem: '#uploadExample' //绑定元素
            ,url: "{:url('admin/Answer/uploadfile')}" //上传接口
            ,accept: 'file'
            ,done: function(res){
                layui.use('layer', function(){
                    var layer = layui.layer;
                        layer.msg(res.msg+':导入'+res.data.count+'个', {
                            time: 6000, //6s后自动关闭
                            icon:1
                        },()=>{
                            window.location.reload();
                        });
                    });
            }
            ,error: function(){
                var layer = layui.layer;
                        layer.msg(res.msg, {
                            time: 6000, //6s后自动关闭
                            icon:1
                        });
            }
        });
    });
</script>