{include file="public/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-header">{$page_title}</div>
            <div class="layui-card-body">
                {:access_button('Tanksluck/add')}
                <!-- <form class="layui-search layui-form" action="" method="get">
                    <div class="layui-col-md3">
                        <label>搜索字段</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="a">
                        </div>
                    </div>
                    <div class="layui-col-md3 layui-search-submit">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-normal" type="button" onclick="search(this)">搜索</button>
                            <button class="layui-btn layui-btn-danger" type="button" onclick="export_excel(this)">导出</button>
                        </div>
                    </div>
                    <div class="layui-clear"></div>
                </form> -->
                <table class="layui-table layui-form">
                    <thead>
                    <tr>
                        
                        <th>ID</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {if condition="empty($list)"}
                    <tr>
                        <td colspan="5" align="center">暂无数据！</td>
                    </tr>
                    {/if}
                    <tbody>
                    {foreach $list as $item}
                    <tr>
                        
                        <td>{$item.id}</td>
                        <td>{$item.name}</td>
                        <td>{if($item['type'] == 1)} 积分{elseif($item['type'] == 2)}鸡蛋 {else} 优惠券{/if}</td>
                        <td>{$item.number}</td>
                        <td>
                            {:access_button('Tanksluck/edit', ['id'=>$item['id']], '编辑')}
                            {:access_button('Tanksluck/delete', ['id'=>$item['id']], '删除', 'confirm')}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页按钮输出开始-->
                <div class="page">
                {$page}
                </div>
                <!--分页按钮输出结束-->
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}