{include file="public/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-header">{$page_title}</div>
            <div class="layui-card-body">
                <form class="layui-search layui-form" action="" method="get">
                        <div class="layui-col-md3">
                            <label>开始时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" if(!empty($time1)) value="{$time1}" {/if} id="time1" name="time1">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label>结束时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" if(!empty($time2)) value="{$time2}" {/if} id="time2" name="time2">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label>微信昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="nickname" value="{$where.nickname}" lay-verify="required" placeholder="微信昵称">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label>姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="name" value="{$where.name}" lay-verify="required" placeholder="姓名">
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        
                        <div class="layui-col-md3">
                            <label>转入类型</label>
                            <div class="layui-input-inline">
                                <select name="type">
                                    <option value="0">请选择</option>
                                    
                                    <option value ="1" {if $where.type==1} selected="selected" {/if}>积分</option>
                                    <option value ="2" {if $where.type==2} selected="selected" {/if}>优惠券</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="layui-col-md3 layui-search-submit">
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-normal" type="button" onclick="search(this)">搜索</button>
                            </div>
                        </div>
                        <div class="layui-col-md3 layui-search-submit">
                            &nbsp;
                       </div>
                        <div class="layui-col-md3 layui-search-submit">
                            <label style="color:red">总计{$count}条</label>
                       </div>
                        <div class="layui-col-md3">
                            
                        </div>
                        <div class="layui-clear"></div>
                        
                </form>
                <table class="layui-table layui-form">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>微信昵称</th>
                        <th>微信头像</th>
                        <th>剩余积分</th>
                        <th>剩余鸡蛋</th>
                        <th>转入积分/券</th>
                        <th>转入数量</th>
                        <th>转入状态</th>
                        <th>转入时间</th>
                    </tr>
                    </thead>
                    {if condition="empty($list)"}
                    <tr>
                        <td colspan="8" align="center">暂无数据！</td>
                    </tr>
                    {/if}
                    <tbody>
                    {foreach $list as $v}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v.nickname}</td>
                        <td><img src="{$v.avatar}"></td>
                        <td>{$v.integral}</td>
                         <!-- 新增-->
                        <td>{$v.egg}</td>
                        <!-- 结束-->
                        <td>{$v.zrintegral}</td>
                        <td>{if $v.type == 1}积分转入{elseif $v.type == 2}优惠券转入{else}其他{/if}</td>
                        <td>{if $v.status == 1}成功{else}<span style ="color: red;">失败</span>{/if}</td>
                        <td>{$v.create_time}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页按钮输出开始-->
                <div class="page">
                {$page}
                </div>
                <!--分页按钮输出结束-->
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

<script>
    layui.use(['index', 'form', 'layedit','laydate'], function(){
        var $ = layui.$
            ,form = layui.form;
        var laydate = layui.laydate;
            laydate.render({
                elem: '#time1' //指定元素

            });

            laydate.render({
                elem: '#time2' //指定元素
            })
        form.render(null, 'component-form-group');
        uploadInit('thumb', 'image', '图片尺寸 200 * 300');
        // // 监听表单提交
        // form.on('submit()', function(data){
        //     delete data.field.file;
        //     Post('', data.field, function(res) {
        //         if (res.code == 1) {
        //             alert_success(res.msg, function() {
        //                 back_url();
        //             })
        //         } else {
        //             alert_error(res.msg);
        //         }
        //     });
        //     return false;
        // });
    });
</script>