{include file="public/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-header">{$page_title}</div>
            <div class="layui-card-body">
                {:access_button('AdminGroup/add_group')}
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>管理组名称</th>
                        <th>管理员人数</th>
                        <th>状态</th>
                        <th>最后修改时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $item}
                    <tr>
                        <td>{$item.group_name}</td>
                        <td>{$item.group_people}</td>
                        <td>{$item.status == 1 ? '正常' : '禁用'}</td>
                        <td>{$item.update_time|date='Y-m-d H:i:s', ###}</td>
                        <td>
                            {:access_button('AdminGroup/edit_group', ['id'=>$item['id']], '编辑')}
                            {if condition="$item['id'] != 1"}
                            {:access_button('AdminGroup/del_group', ['id'=>$item['id']], '删除', 'confirm')}
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                {$page}
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}