{include file="public/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-header">{$page_title} <a href="javascript: back_url();" class="layui-btn layui-btn-primary layui-layout-right">返回上级</a></div>
            <div class="layui-card-body">
                <form class="layui-form padsome" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">生长名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" value="{$item.name}" lay-verify="required" placeholder="请输入生长名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">选择周期</label>
                        <div class="layui-input-block">
                            <select name ="class">
                                <option>请选择</option>
                                <option value ="1" {if ($item['class'] == 1)} selected{/if}>孵化期</option>
                                <option value ="2" {if ($item['class'] == 2)} selected{/if}>生长期</option>
                                <option value ="3" {if ($item['class'] == 3)} selected{/if}>产蛋期</option>
                                <option value ="4" {if ($item['class'] == 4)} selected{/if}>出栏期</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">生长天数</label>
                        <div class="layui-input-block">
                            <input type="text" name="day" value="{$item.day}" lay-verify="required" placeholder="请输入限制天数（仅限数字）" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">喂养次数</label>
                        <div class="layui-input-block">
                            <input type="text" name="feed_count" value="{$item.feed_count}" lay-verify="required" placeholder="请输入喂养次数" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否产蛋</label>
                        <div class="layui-input-block">
                            <input type="text" name="egg" value="{$item.egg}" lay-verify="required" placeholder="输入数字则产蛋，不输入则不产蛋" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;">
                                <button class="layui-btn" lay-submit="">提交</button>
                                <button class="layui-btn layui-btn-primary" type="button" onclick="back_url()">返回</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    layui.use(['index', 'form', 'layedit'], function(){
        var $ = layui.$
            ,form = layui.form;
        form.render(null, 'component-form-group');

        // 监听表单提交
        form.on('submit()', function(data){
            delete data.field.file;
            Post('', data.field, function(res) {
                if (res.code == 1) {
                    alert_success(res.msg, function() {
                        back_url();
                    })
                } else {
                    alert_error(res.msg);
                }
            });
            return false;
        });
    });
</script>